@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Digital';
  src: url('https://fonts.cdnfonts.com/css/calculator') format('woff2');
}

.digital {
  font-family: 'Digital', monospace;
}
